<div>
  <h3>EStas en admin</h3>
</div>
<nav>
  <a href="/product/create">Crear Producto</a>
  <a href="/product/list">Lista de productos</a>
  <br>
  <a href="/colection/create">Crear Colección</a>
   <a href="/colection/list">Lista de Colecciones</a>
   <br>
   <a href="/blog/create">Crear Blog</a>
   <a href="/blog/list">Lista de Blogs</a>
  
</nav>