html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/images/8K7A5194.jpg) no-repeat center center fixed;
  background-size: cover;
  display: grid;
  grid-template:
  "nav" 70px
  "div-body" auto
  "footer" 60px

}
a:link, a:visited, a:active {
  text-decoration:none;
}

a {
  color:#efb810;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 150px;
  color:white
}
h3{
  color:white
}

nav{
  grid-area: nav;  
}
.nav-link{
  color: white;
  font-size: 20px;
}
.div-body{
  grid-area: div-body;
}
footer{
  grid-area: footer;
  display: grid;
  grid-template:
  "footer1 footer2" / 
  80%
}
.footer1{
  grid-area: footer1;
}
.footer2{
  grid-area: footer2;
  color: white;
}
#div-search{
  color:white;
  min-height: 100%;
}
button{
  margin: 8px;
}
/* seccion de producto details */
.container-product-details{
  display:grid;
  grid-template:
  "image-product-details produc-details"/
  auto
}
.image-product-details{
  grid-area:image-product-details;
}
.product-details{
  grid-area:produc-details;
}
/* seccion de lista de producto*/

.container-product-list{ 
  margin-top: 10px; 
  display:grid;
  grid-template:
  "image-product-list produc-list"/
  auto
}
.image-product-list{
  grid-area:image-product-list;
}
.product-list{
  grid-area:produc-list;
}

/* seccion lista de coleccion */

.container-colection-list{
  margin-top: 10px;
  display: grid;
  grid-template:
  "image-colection-list colection-list"/
  auto
}
.image-colection-list{
  grid-area: image-colection-list;
}
.colection-list{
  grid-area: colection-list;
}
/* seccion lista de blog */
.container-blog-list{
  margin-top: 10px;
  color: #efb810;
  display: grid;
  grid-template:
  "image-blog-list blog-list"/
  auto
}
.image-blog-list{
  grid-area: image-blog-list;
}
.blog-list{
  grid-area: blog-list;
}
/* seccion lista de favoritos */
.container-favoritos-list{
 
  background-color: transparent;
  border:none;

}


/* seccion detalles de coleccion */
.container-colection-details{
  background-color: transparent;
  border:none;
  margin-top: 10px;
  display: grid;
  grid-template:
   "colection-details"
  "image-colection-details"
}
.image-colection-details{
  
  grid-area: image-colection-details;
}
.colection-details{
  margin-top: 10px;
  grid-area: colection-details;
}
.div-details{
  margin-top: 10px;
}
/* seccion crear  coleccion */
.container-colection-create{
  color:white;
  min-height: 100%;
 
  background-color: transparent;
  border:none;
  
}
/* seccion crear  producto */
.container-product-create{
  color:white;
  min-height: 100%; 
  background-color: transparent;
  border:none;  
}
/* seccion crear blog */
.container-blog-create{
  color:white;
  min-height: 100%; 
  background-color: transparent;
  border:none;  
}
/* seccion de busqueda */

.container-busqueda{  
  display: grid;
  gap: 50px;
  grid-template: 
  "busqueda resultado-busqueda"/
  auto
}
.busqueda{
  background-color: transparent;
  color: white;
  border: none;
  margin-right: 50px;
  max-height: 300px;
  grid-area: busqueda;
}
.resultado-busqueda{
  background-color: transparent;
  color: #efb810;
  border: none;
  grid-area: resultado-busqueda;
}
.busqueda p {
  font-size: 30px;
}
 .resultado-busqueda h4 {
  font-size: 40px;
  color: rgb(231, 224, 26);
} 