<div>
    <h3>Añade una colección</h3>
      <form action="/colection/create" method="POST" enctype="multipart/form-data">


    <label for="title">Titulo de la Colección:</label>
    <input type="text" name="title">
    <br>
    <label for="description">Descripción:</label>
    <input type="text" name="description">
    <br>
   
 <label for="productos"></label>Elija productos: </label>
 <br>
    <select name="productos" multiple="true">
    
        

        {{#each productList}}
            <option value="{{this._id}}">{{this.productType}}</option>
        {{/each}}

    </select>
   <div>
      <label for="img">Imagen del producto</label>
      <input type="file" name="img" />
    </div>

    <br>
    <button type="submit">Añadir Colección</button>
    {{!-- cuando el boton está dentro de un form, se comporta siempre como submit de forma predeterminada --}}

  </form>
</div>