

<section class="d-flex flex-column align-items-center">
<form action="/product/create" method="POST" enctype="multipart/form-data">
<div class="card container-product-create" style="width: 40rem;">
<div class="mb-3">
  <label for="productType" class="form-label">Nombre del producto</label>
  <input type="text" name="productType" class="form-control" id="formGroupExampleInput" >
</div>
<div class="mb-3">
  <label for="description" class="form-label">Descripción</label>
  <input type="text" name="description" class="form-control" id="formGroupExampleInput" >
</div>
<div class="mb-3">
  <label for="temporada" class="form-label">Temporada</label>
  <input type="text" name="temporada" class="form-control" id="formGroupExampleInput" >
</div>
<div class="mb-3">
  <label for="cost" class="form-label">Precio</label>
  <input type="number" name="cost" class="form-control" id="formGroupExampleInput" >
</div>
<div class="mb-3">
  <label for="color" class="form-label">Color</label>
  <input type="text" name="color" class="form-control" id="formGroupExampleInput" >
</div>

<div class="mb-3">
  <label for="size" class="form-label">Talla</label>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option value="XS">XS</option>
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
      <option value="XL">XL</option>
      <option value="XXL">XXL</option>
</select>
</div>
<div class="mb-3">
  <label for="img" class="form-label">Imagen del producto</label>
  <input type="file" name="img" />
</div>  
<button   class="btn btn-primary btn-lg">Crear Producto</button>
</div>
 </form>
</section>


