<div>
  <h3>Crear un producto</h3>
  <form action="/auth/signup" method="POST">
<label for="name">Nombre del producto: </label>
<input type="text" name="name">
<br>
<label for="description">Descripción: </label>
<input type="text" name="description">
<br>
<label for="type">Tipo: </label>
<input type="text" name="type">
<br>
<label for="cost">Precio: </label>
<input type="number" name="cost">
<br>
<button>Aladir producto</button>

    </form>
</div>