<div>
    <h3>Detalles del producto</h3>
 
    <h4>Nombre: {{productDetails.name}}</h4>
    <p>Descripción: {{productDetails.description}}</p>
    <p>Tipo: {{productDetails.type}}</p>
    <p>Precio: {{productDetails.cost}}€</p>
 
</div>