<div>
  <h3>Entrando en favoritos</h3>
  <p>...</p>

  {{#each productoFavoritos.favoritos}}
  <h3>Producto: {{productType}}</h3>
  <br>
  
  <img src="{{img}}" alt="imagen-del-producto">
   <form action="/product/{{_id}}/delete-favoritos" method="post">
        <button>Borrar favorito</button>
      </form>
  {{/each}}
</div>