<section class="d-flex flex-wrap flex-row justify-content-around">
  {{#each productoFavoritos.favoritos}}
  <div class="card container-favoritos-list" style="width: 20rem;">
      <div class="favoritos-details">
         <div class="card-body ">
            <h5 class="card-title"><a href="/product/{{_id}}/details">Producto:{{productType}}</a></h5>
        </div>
        <div class="image-favoritos">
            <img src="{{img}}" class="card-img-top" alt="producto">
        </div>
        <div>
         <form action="/product/{{_id}}/delete-favoritos" method="POST">
          <button class="btn btn-primary btn-sm" >Quitar de Favoritos</button>
        </form>
        </div>

        </div>
  </div>
{{/each}}


</section>