<div>
  <h3>Entrando en favoritos</h3>
  <p>...</p>

  {{#each productoFavoritos.favoritos}}
  <h3>Producto: {{productType}}</h3>
  <br>
  <p>aqui va la imagen:</p>
  <img src="{{img}}" alt="imagen-del-producto">
  {{/each}}
</div>