<section class="d-flex flex-column align-items-center">
<div class="container-busqueda">
  
  <div class=" card busqueda" style="width: 30rem">
  <form>
   <div class="mb-3">
     <h3>Busca un producto</h3>
   </div>
   <div class="mb-3">
      <p>NOMBRE DEL PRODUCTO</p>
      <input name="productType" type="text" class="form-control" id="formGroupExampleInput">
   </div>
   <div class="mb-3">
      <p>COLOR</p>
      <input name="color" type="text" class="form-control" id="formGroupExampleInput">
   </div>
   <div class="mb-3">
       <h3>Talla</h3>
     <input name="size" type="text" class="form-control" id="formGroupExampleInput">
   </div>
      {{!-- <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    
       <input value="XS">XS</input>
       <option value="S">S</option>
       <option value="M">M</option>
       <option value="L">L</option>
       <option value="XL">XL</option>
       <option value="XXL">XXL</option>
     </select>
   </div> --}}
   <div class="mb-3" class="form-control" id="formGroupExampleInput">
      <button class="btn btn-primary btn-sm">Buscar</button>
   </div>
  </form>
  </div>

  <div class=" card resultado-busqueda" style="width: 30rem">
   {{!-- <div class="mb-3">
    <h3>Resultados de busqueda:</h3>
   </div> --}}
   {{#each details}}
   <div class="mb-3">
     <h4>{{productType}}</h4>
   </div>
   <div class="mb-3">
    <img src="{{img}}" class="card-img-top" alt="producto"> 
   </div>
   <div class="mb-3">
    <a href="/product/{{_id}}/details"><buttonm class="btn btn-danger">Detalles del producto</button></a>
   </div>
   {{/each}}
   </div>
</div>


</section>