<div id="div-search">

  <h3>Busca un producto</h3>

  <form >
      <p>NOMBRE DEL PRODUCTO</p>
      <input name="productType" type="text">
      <br>
      <p>COLOR</p>
      <input name="color" type="text">
      <p>Talla</p>
      <input name="size" type="text">
      <button>Buscar</button>
      <br>
      
  </form>

  <div>
    <p>resultados de busqueda:</p>
      {{#each details}}
       <h4>Producto: {{productType}}</h4>
       <img src="{{img}}" alt="producto">
  </div>
  <br>
  <div>
      <a href="/product/{{_id}}/details">Detalles del producto</a>
  </div>
      {{/each}}
</div>