<section class="d-flex flex-column align-items-center">
  <form action="/blog/create" method="POST" enctype="multipart/form-data">
   <div class="card container-blog-create" style="width: 40rem;">
    <div class="mb-3">
      <label for="title" class="form-label">Título del Blog:</label>
      <input type="text" name="title" class="form-control" id="formGroupExampleInput"> 
   </div>
   <div class="mb-3">
     <label for="img" class="form-label">Imagen del blog</label>
     <input type="file" name="img" class="form-control" id="formGroupExampleInput">
   </div>
   <div class="mb-3">
     <label for="description" class="form-label">Descripción: </label>
     <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea> 
   </div>
   <button class="btn btn-primary btn-lg">Añadir Blog</button>
   </div>
   </form>

</section>