<div>
  <h3>Crear un Blog </h3>
  <form action="/blog/create" method="POST">
<label for="title">Título del Blog: </label>
<input type="text" name="title">
<br>
<h1>Aquí la imagen</h1>
<br>
<label for="description">Descripción: </label>
<input type="text" name="description">
<br>
<button>Añadir Blog</button>

    </form>
</div>