<div>
  <h3>Crear un Blog </h3>
  <form action="/blog/{{blogDetails._id}}/edit-form" method="POST" enctype="multipart/form-data" >
    <label for="title">Título del Blog: </label>
    <input type="text" name="title" value="{{blogDetails.title}}" />
    <br />
    <div>
      <label for="img">Imagen del blog</label>
      <input type="file" name="img" />
    </div>
    <br />
    <label for="description">Descripción: </label>
    <input type="text" name="description" value="{{blogDetails.description}}" />
    <br />
    <button>Editar Blog</button>

  </form>
  
</div>