<section class="d-flex flex-column align-items-center">
    {{#each blogList}}
  <div class="card container-blog-list" style="width: 40rem;">
    <div class="image-blog-list">
      <img src="{{img}}" class="card-img-top" alt="blog">
    </div>
    <div class="blog-list">
     <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
     </div>
    {{#if ../isAdminActive}}
     <div class="card-body">
        <a href="/blog/{{_id}}/edit-form"><button class="btn btn-outline-primary">Editar Blog</button></a>
     </div>
     <div class="card-body">
        <form action="/blog/{{_id}}/delete" method="POST"><button class="btn btn-outline-primary">Borrar Blog</button></form>
     </div>
    </div>
    {{/if}}


 </div>
    {{/each}}    
</section>
